*
{
    font-family: "Handlee", cursive;

}
body
{
    font-family: "Handlee", cursive;
    background: black;
    overflow-x: hidden;
       
}
.image
{
    width: 100vw;
    height: 750px;
    background: url(main1.jpg);
    background-size:cover;
    position: relative;
    overflow: hidden;

    
}
.overlay
{
  
    position: absolute;
    top:0;
    left: 0;
    width: 100vw; 
    height: 750px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}
.name{
  position: absolute; 

  top: 24%; 
  width: 100%;
  text-align: center;
  font-size: 60px; 
  color: white;
}
#spin {
    color:white;
    width: 100%;
    position: absolute; 
    text-align: center; 
    top: 40%;
    font-size: 30px;
  }
  #spin:after {
    content:"";
    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    0% { content:"Engineer 🎓"; }
    20% { content:"Coder 👨🏻‍💻 💻"; }
    40% { content:"Stock Invester 📉 💸"; }
    60% { content:"Video Graphy 🎥 🎞️"; }
    80% { content:"YouTuber 🖥"; }
    100% { content: "Gammer 🖲️ 🕹️"; }
    
  }


  .adj
  {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 60%;
    font-size: 30px;
  }

  #section10 a {
    padding-top: 60px;
  }
  #section10 span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 90px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #section10 p{
    position: absolute;
    top: 100px;
    width: 100%;
    left: 10px;
    color: white;
  }
  #section10 span::before {
    position: absolute;
    top: 10px;
    left: 42%;
    content: '';
    width: 15px;
    height: 15px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  


  @font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container #glow{

    text-align: center;

}

.neon {
  position: relative;
  text-align: center;
  font-family: "Handlee", cursive;
    color: #FB4264;
    font-size: 50px;
    line-height: 7vw;

}

.flux {
  position: relative;
  text-align: center;
    font-family: "Handlee", cursive;
    color: #426DFB;
    font-size: 50px;
    line-height: 7vw;
 
}

.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {

    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }

    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {

    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }

    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}

a
{
  text-decoration: none;
  color: #1041FF;
}
a:hover{
  color: rgb(12, 0, 0);
}
.icon {
  display: grid;
  place-items: center;
  margin: 10px;
}

.ico-circle
{
  border-width: 10px;
  border-style: solid;
  width: 150px;
  height: 150px;
  padding-top: 20px;
  border-radius: 90px;
  border-color: rgb(16, 167, 226);
}
#getcv
{
  width:fit-content ;
  position: flex;
  align-items: center;
}
.alignment {
  position: relative;
  text-align: center;
}
.git
{
  display: grid;
  place-items: center;
}
a.link:hover{
  color: #1f8cf3;
}
.social
{
  width: 100vw;
  
}
ul {
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
  align-content: center;
  position: absolute;
  left: 50%;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  width:60px;
  height:60px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

ul li a .fab {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size:24px;
  color: #262626;
  transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

